# Exploratory data analysis 

Let's dive into harvested data from dadjokes subreddit to understand it better and prepare for RAG

In [1]:
# Libraries
import pandas as pd
import numpy as np
import re
import os

In [2]:
data = pd.read_csv(r'data/dadjokes_partial_data.csv')
df = data.copy()

df.head(20)

,id,upvotes,title,selftext,date
0,ep8ed0,86878,BREAKING: Iran has struck its own submarine wi...,Whoops wrong sub,2020-01-15 22:02:55
1,v2d37y,56956,My offspring came out as transgender last night,"As far as I’m concerned, I have no son\n\nEdit...",2022-06-01 11:38:36
2,ouy3jh,51639,"If you can't say it to your 5 yr old kid, its ...",I'm getting really sick of all the NSFW jokes ...,2021-07-31 03:22:17
3,9zyjbd,48977,"Today, my son asked ""Can I have a book mark?"" ...",NaN,2018-11-24 14:43:21
4,uzkegu,48006,"An Afghan, an Albanian, an Algerian, an Americ...","a Bolivian, a Bosnian, a Brazilian, a Brit, a...",2022-05-28 12:15:12
5,sq308p,46102,Not a joke. But I wish it was.,I am not a dad. I am a daughter. For longer th...,2022-02-11 17:13:09
6,fy3oqw,43971,My wife just completed a 40 week body building...,It's a girl and weighs 7lbs 12 oz.,2020-04-10 02:02:23
7,zglalj,38822,"This just happened in real life, and I got not...",True story: the wife and I were walking in Tar...,2022-12-09 04:17:07
8,iblapp,38556,[warning 18+],19,2020-08-17 21:43:14
9,76idqz,38364,My wife just gave birth today and after thanki...,"He winked at me and said, ""I'm off duty in ten...",2017-10-15 13:06:16
10,7ndcz7,38323,Is this sub still active?,There hasn’t been any posts all year.,2018-01-01 05:59:56
11,srigs9,36868,"My son asked why sStar Wars movies came out 4,...",I answered in my best yoda impersonation: ‘in ...,2022-02-13 14:19:29
12,wneg5b,36637,"Putin dies and goes to hell. After a while, he...","So he goes to Moscow, enters a bar, orders a d...",2022-08-13 15:23:01
13,ixxf1m,35030,"The day I turned 42, my daughter walked up to ...","""...40 second birthday"".\nI was so proud.",2020-09-23 00:05:23
14,8rvscd,34988,"As I handed my Dad his 50th birthday card, he ...","“You know, one would have been enough.”",2018-06-18 03:44:18
15,psqt4j,34423,Today I understand why dad jokes are a true st...,Never understood why dads and corny jokes were...,2021-09-21 22:05:42
16,fhfita,33608,What genre are national anthems?,Country.,2020-03-12 13:25:24
17,7rspss,32681,Gonorrhea would have been a great name for dia...,NaN,2018-01-20 21:03:54
18,ttmk3k,32487,why does dracula always bite people in the neck?,Because he's a neck romancer\n\nEDIT: getting ...,2022-04-01 11:23:55
19,9ark5f,32089,If pronouncing my b's as v's makes me sound Ru...,NaN,2018-08-27 20:38:48

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        996 non-null    object
 1   upvotes   996 non-null    int64
 2   title     996 non-null    object
 3   selftext  950 non-null    object
 4   date      996 non-null    object
dtypes: int64(1), object(4)
memory usage: 39.0+ KB

In [4]:
df.nunique()

id          996
upvotes     951
title       968
selftext    927
date        996
dtype: int64

In [5]:
df.isnull().sum().T

id           0
upvotes      0
title        0
selftext    46
date         0
dtype: int64

# Jokes as a construct: Title + Selftext

## Focus: Title

In [6]:
# find duplicate titles and their number
duplicates_title = df[df.duplicated(subset=["title"], keep=False)]
print("Number of duplicate titles: ", len(duplicates_title))
print(duplicates_title)

Number of duplicate titles:  51
         id  upvotes                                              title  \
10   7ndcz7    38323                          Is this sub still active?
13   ixxf1m    35030  The day I turned 42, my daughter walked up to ...
34   veopze    26969                   WHO HAS 2 THUMBS AND IS AWESOME?
40   5ldnsh    26004                          Is this sub still active?
67   6y72pf    22032  My wife accused me of hating her family and re...
79   b0kq83    20782  My therapist says that I second guess every de...
86   knpraa    20417                          Is this sub still active?
146  d0ai38    17814  For the 10th year in a row, my coworkers voted...
153  r1orsj    17673                   WHO HAS 2 THUMBS AND IS AWESOME?
159  4tgfgk    17460                My girlfriend is turning 32 soon...
160  ki391k    17457  The genie asked, "What’s your first wish?" Ste...
208  efwtxi    16495    What is the least spoken language in the world?
225  lfr2rs    16165  A man came up to me and said "Man, your clothe...
231  hclkro    16079  Boss: "How good are you at PowerPoint?" - Me: ...
234  79299m    16011  My daughter screeched, "Daaaaaad, you haven't ...
241  bfb221    15910  Boss: "How good are you at PowerPoint?" - Me: ...
268  i8bo5b    15414  What did 2 tell 3 when he saw 6 acting like an...
281  i3hgnu    15073  The secret service isn't allowed to yell "Get ...
289  iepxw2    14928            If you rearrange the letters of MAILMEN
299  fq2iyo    14848    What is the least spoken language in the world?
317  ozrplf    14587  I told my daughter, “Go to bed, the cows are s...
322  mdle01    14489  I told my daughter, “Go to bed, the cows are s...
331  jgcqlt    14359            If you rearrange the letters of MAILMEN
346  feclhk    14206  For the 10th year in a row, my coworkers voted...
351  9kf1hd    14172  The genie asked, "What’s your first wish?" Ste...
358  hnafif    14141                 Justice is a dish best served cold
364  po5f9t    14033  The day I turned 42, my daughter walked up to ...
380  e7m2lk    13876  The secret service isn't allowed to yell "Get ...
389  8ra0x6    13801  My wife accused me of hating her family and re...
400  azfo4k    13720  A man came up to me and said "Man, your clothe...
429  he4fam    13429           How do you make a water bed more bouncy?
461  crlxln    13158  My daughter screeched, "Daaaaaad, you haven't ...
474  iwrklv    13048                 Justice is a dish best served cold
479  jb2nsu    13039  I can always tell when someone is lying just b...
532  batcha    12645           How do you make a water bed more bouncy?
577  ctuz8w    12309  I gave my daughter a watch for her birthday. S...
580  a6qw9r    12297     The first computer dates back to Adam and Eve.
609  71bqv9    12177    What is the least spoken language in the world?
630  9j1exc    12010    What is the least spoken language in the world?
666  kikp4y    11785        How much does Santa pay to park his sleigh?
672  aczlhz    11755                My girlfriend is turning 32 soon...
704  ab666n    11545                          Is this sub still active?
724  kfc8ua    11454     The first computer dates back to Adam and Eve.
780  m8f0n4    11212  I gave my daughter a watch for her birthday. S...
795  e973ze    11150     Many French guillotine victims had their heads
800  uqsiyd    11124     Many French guillotine victims had their heads
828  dvcajp    10998  Boss: "How good are you at PowerPoint?" - Me: ...
874  mc3xnd    10798  My therapist says that I second guess every de...
878  cfgb7t    10793  What did 2 tell 3 when he saw 6 acting like an...
890  ed39ul    10764        How much does Santa pay to park his sleigh?
975  czzs7j    10427  I can always tell when someone is lying just b...

                                              selftext                 date
10               There hasn’t been any posts all year.  2018-01-01 05:59:56
13           "...40 second birthday".\nI was so proud.  2020-09-23 00:05:23
34          [This guy.](http://www.reddit.com/user/me)  2022-06-17 22:01:26
40               There hasn't been any posts all year.  2017-01-01 06:04:19
67   \nI replied, "No, I don't hate your relatives....  2017-09-05 12:19:26
79                                           [deleted]  2019-03-13 12:09:23
86   Haven't seen anyone post all year!\n\n\n(Happy...  2020-12-31 14:11:41
146  I can't tell you how much this award \nmeans t...  2019-09-06 04:20:25
153         [This guy.](http://www.reddit.com/user/me)  2021-11-25 06:15:43
159  I've told her not to get her hopes up. "After ...  2016-07-18 19:47:44
160        \n\nRich exclaimed, "I want lots of money!"  2020-12-22 12:04:00
208                                      Sign Language  2019-12-26 16:41:09
225  I said "I know, they came out of the closet th...  2021-02-09 02:16:34
231                                        Me: "Word".  2020-06-20 14:32:57
234  What a strange way to start a conversation wit...  2017-10-27 11:52:35
241                                         Me: "Word"  2019-04-20 13:01:33
268  Don’t mind him. He is just a product of our ti...  2020-08-12 12:59:08
281              Now they have to yell "Donald, duck!"  2020-08-04 13:15:11
289                             They get really upset.  2020-08-22 22:35:52
299                                      Sign language  2020-03-27 19:28:49
317                        \n\n"It’s pasture bedtime!”  2021-08-07 13:39:19
322                            "It’s pasture bedtime!”  2021-03-26 11:09:08
331                            You get them VERY ANGRY  2020-10-23 02:56:41
346  I can't tell you how much this award means to me.  2020-03-06 13:11:32
351            Rich exclaimed, "I want lots of money!"  2018-10-01 12:06:13
358  Because if it were served warm it would be jus...  2020-07-08 06:25:01
364           "...40 second birthday". I was so proud.  2021-09-14 17:48:33
380  Now they have to yell "Donald, duck!"\n\nEdit:...  2019-12-08 00:54:58
389  \n\nI replied, "No, I don't hate your relative...  2018-06-15 12:52:21
400  I said "I know, they came out of the closet th...  2019-03-10 14:32:01
429                                  Add Spring Water.  2020-06-23 02:35:18
461  What a strange way to start a conversation wit...  2019-08-17 15:09:18
474      If it were served warm it would be justwater.  2020-09-21 04:16:09
479              I can tell when they're standing too.  2020-10-14 17:20:21
532                                  Add spring water.  2019-04-08 14:43:46
577  She laughed and said, "No, this is an old-fash...  2019-08-22 11:30:26
580  It was an Apple with limited memory, just one ...  2018-12-16 18:28:55
609                                      Sign language  2017-09-20 17:16:56
630                                     Sign language.  2018-09-26 12:51:43
666                        Nothing, it's on the house.  2020-12-23 04:04:58
672  I've told her not to get her hopes up. "After ...  2019-01-06 00:23:37
704  There hasn’t been a post all year. \n\nHappy N...  2018-12-31 12:00:00
724   **It was an Apple with limited memory; just o...  2020-12-18 03:36:14
780  \n\nShe laughed and said, "No, this is an old-...  2021-03-19 12:18:10
795                                          [Removed]  2019-12-11 14:29:11
800                                        \[removed\]  2022-05-16 12:12:36
828                                         Me: "Word"  2019-11-12 17:27:22
874                                        \[deleted\]  2021-03-24 13:02:11
878  Don’t worry about him. He’s just a product of ...  2019-07-20 03:50:55
890                Nothing. \n\n\n\nIt’s on the house.  2019-12-20 02:56:30
975              I can tell when they’re standing too.  2019-09-05 13:53:51

In [7]:
# remove duplicate titles
df_unique = df.drop_duplicates(subset=["title"], keep="first")
print(df_unique)

          id  upvotes                                              title  \
0     ep8ed0    86878  BREAKING: Iran has struck its own submarine wi...
1     v2d37y    56956    My offspring came out as transgender last night
2     ouy3jh    51639  If you can't say it to your 5 yr old kid, its ...
3     9zyjbd    48977  Today, my son asked "Can I have a book mark?" ...
4     uzkegu    48006  An Afghan, an Albanian, an Algerian, an Americ...
..       ...      ...                                                ...
991  1f8btzc     8107  I was gutted this afternoon when my wife told ...
992  1imgl58     7670  My son said to me "Dad, today I watched someon...
993  1j47w6r     7369  The nurse at the sperm bank asked me if I'd li...
994  1i2qxn8     7134    My wife calls me her sex machine all the time.
995  1hh11ct     7128  My wife texted me this morning and said, “Your...

                                              selftext                 date
0                                     Whoops wrong sub  2020-01-15 22:02:55
1    As far as I’m concerned, I have no son\n\nEdit...  2022-06-01 11:38:36
2    I'm getting really sick of all the NSFW jokes ...  2021-07-31 03:22:17
3                                                  NaN  2018-11-24 14:43:21
4     a Bolivian, a Bosnian, a Brazilian, a Brit, a...  2022-05-28 12:15:12
..                                                 ...                  ...
991  She then said I need to pay more attention at ...  2024-09-03 23:26:11
992  I said of course son, don't want to brag but I...  2025-02-10 21:45:37
993  I said, "Well, I'm pretty good, but I don't th...  2025-03-05 18:03:20
994  Well technically she says "you're a fucking to...  2025-01-16 16:06:39
995           I should correct her grammar more often.  2024-12-18 13:59:23

[968 rows x 5 columns]

In [8]:
# drop nan titles
df_unique = df_unique.dropna(subset=['title'])
print(df_unique)

          id  upvotes                                              title  \
0     ep8ed0    86878  BREAKING: Iran has struck its own submarine wi...
1     v2d37y    56956    My offspring came out as transgender last night
2     ouy3jh    51639  If you can't say it to your 5 yr old kid, its ...
3     9zyjbd    48977  Today, my son asked "Can I have a book mark?" ...
4     uzkegu    48006  An Afghan, an Albanian, an Algerian, an Americ...
..       ...      ...                                                ...
991  1f8btzc     8107  I was gutted this afternoon when my wife told ...
992  1imgl58     7670  My son said to me "Dad, today I watched someon...
993  1j47w6r     7369  The nurse at the sperm bank asked me if I'd li...
994  1i2qxn8     7134    My wife calls me her sex machine all the time.
995  1hh11ct     7128  My wife texted me this morning and said, “Your...

                                              selftext                 date
0                                     Whoops wrong sub  2020-01-15 22:02:55
1    As far as I’m concerned, I have no son\n\nEdit...  2022-06-01 11:38:36
2    I'm getting really sick of all the NSFW jokes ...  2021-07-31 03:22:17
3                                                  NaN  2018-11-24 14:43:21
4     a Bolivian, a Bosnian, a Brazilian, a Brit, a...  2022-05-28 12:15:12
..                                                 ...                  ...
991  She then said I need to pay more attention at ...  2024-09-03 23:26:11
992  I said of course son, don't want to brag but I...  2025-02-10 21:45:37
993  I said, "Well, I'm pretty good, but I don't th...  2025-03-05 18:03:20
994  Well technically she says "you're a fucking to...  2025-01-16 16:06:39
995           I should correct her grammar more often.  2024-12-18 13:59:23

[968 rows x 5 columns]

In [9]:
df_clean = df_unique

## Focus: Selftext

Construct of the dadjoke is (title + selftext) or only title

In [10]:
# find duplicate selftexts and their number
duplicates_selftext = df_clean[df_clean.duplicated(subset=["selftext"], keep=False)]
print("Number of duplicate selftext: ", len(duplicates_selftext))
duplicates_selftext.head(20)

Number of duplicate selftext:  80

,id,upvotes,title,selftext,date
0,ep8ed0,86878,BREAKING: Iran has struck its own submarine wi...,Whoops wrong sub,2020-01-15 22:02:55
3,9zyjbd,48977,"Today, my son asked ""Can I have a book mark?"" ...",NaN,2018-11-24 14:43:21
8,iblapp,38556,[warning 18+],19,2020-08-17 21:43:14
17,7rspss,32681,Gonorrhea would have been a great name for dia...,NaN,2018-01-20 21:03:54
19,9ark5f,32089,If pronouncing my b's as v's makes me sound Ru...,NaN,2018-08-27 20:38:48
20,l1czgc,32047,In honor of former president Donald J. Trump,[removed],2021-01-20 17:49:52
21,tskov3,31712,When you thought you’ve just about heard all t...,1,2022-03-31 00:11:44
22,bb5fkc,31065,I was reading the history of the French Revolu...,[removed],2019-04-09 10:29:18
24,dcbxwz,30890,For those of us always looking...,NaN,2019-10-02 17:40:53
28,b8cgvx,28928,"Of all the inventions of the last 100 years, t...",NaN,2019-04-02 03:18:08
43,7b61gk,25277,"What has 4 letters, sometimes has 9 letters, b...",NaN,2017-11-06 17:01:13
44,db1kq9,24824,You gotta hand it to blind prostitutes.,NaN,2019-09-29 23:31:47
46,8nmbwt,24660,My son was just born(!) and another dad at the...,"Sure, like my son is going to marry someone tw...",2018-05-31 23:37:09
48,98ovi1,24026,It All,NaN,2018-08-20 02:04:57
50,6822rv,23788,Imagine being held at gunpoint (bear with me) ...,NaN,2017-04-28 13:36:00
52,d46pkc,23601,Spring is in the air,NaN,2019-09-14 17:35:28
76,d9boie,21082,Is it raining?,NaN,2019-09-26 01:58:48
97,dvovqn,19839,The average person is really mean,NaN,2019-11-13 09:38:37
101,soksuk,19645,My favorite type of bra,[removed],2022-02-09 19:48:21
109,gh7cfk,19307,[NSFW] This one is a bit tasteless. So be warned.,Water.,2020-05-10 21:04:57

## Focus: Joke Recipe

In [11]:
# concatenation with fillna and stripping extra whitespace
df_clean['dadjoke'] = (df_clean['title'].fillna('') + " " + df_clean['selftext'].fillna('')).str.strip()
df_clean

# create new dataframe only with merged column of dadjokes
df_merged = df_clean.drop(columns=['title', 'selftext'])
df_merged

,id,upvotes,date,dadjoke
0,ep8ed0,86878,2020-01-15 22:02:55,BREAKING: Iran has struck its own submarine wi...
1,v2d37y,56956,2022-06-01 11:38:36,My offspring came out as transgender last nigh...
2,ouy3jh,51639,2021-07-31 03:22:17,"If you can't say it to your 5 yr old kid, its ..."
3,9zyjbd,48977,2018-11-24 14:43:21,"Today, my son asked ""Can I have a book mark?"" ..."
4,uzkegu,48006,2022-05-28 12:15:12,"An Afghan, an Albanian, an Algerian, an Americ..."
...,...,...,...,...
991,1f8btzc,8107,2024-09-03 23:26:11,I was gutted this afternoon when my wife told ...
992,1imgl58,7670,2025-02-10 21:45:37,"My son said to me ""Dad, today I watched someon..."
993,1j47w6r,7369,2025-03-05 18:03:20,The nurse at the sperm bank asked me if I'd li...
994,1i2qxn8,7134,2025-01-16 16:06:39,My wife calls me her sex machine all the time....
995,1hh11ct,7128,2024-12-18 13:59:23,"My wife texted me this morning and said, “Your..."

In [12]:
# double check for duplicates
duplicates_dadjoke = df_merged[df_merged.duplicated(subset=["dadjoke"], keep=False)]
print(duplicates_dadjoke)

Empty DataFrame
Columns: [id, upvotes, date, dadjoke]
Index: []

In [13]:
# create a new column that is True if a URL is found in the summary, else False.
df_merged['contains_link'] = df_merged['dadjoke'].apply(lambda x: bool(re.search(r'https?://\S+', x)) if pd.notnull(x) else False)

# Print rows that contain links
print(df_merged[df_merged['contains_link']].count())
df_merged.head(5)

id               20
upvotes          20
date             20
dadjoke          20
contains_link    20
dtype: int64

,id,upvotes,date,dadjoke,contains_link
0,ep8ed0,86878,2020-01-15 22:02:55,BREAKING: Iran has struck its own submarine wi...,False
1,v2d37y,56956,2022-06-01 11:38:36,My offspring came out as transgender last nigh...,False
2,ouy3jh,51639,2021-07-31 03:22:17,"If you can't say it to your 5 yr old kid, its ...",False
3,9zyjbd,48977,2018-11-24 14:43:21,"Today, my son asked ""Can I have a book mark?"" ...",False
4,uzkegu,48006,2022-05-28 12:15:12,"An Afghan, an Albanian, an Algerian, an Americ...",False

In [14]:
# drop all dadjokes containing links
df_merged = df_merged[df_merged['contains_link'] == False]
print(df_merged)

          id  upvotes                 date  \
0     ep8ed0    86878  2020-01-15 22:02:55
1     v2d37y    56956  2022-06-01 11:38:36
2     ouy3jh    51639  2021-07-31 03:22:17
3     9zyjbd    48977  2018-11-24 14:43:21
4     uzkegu    48006  2022-05-28 12:15:12
..       ...      ...                  ...
991  1f8btzc     8107  2024-09-03 23:26:11
992  1imgl58     7670  2025-02-10 21:45:37
993  1j47w6r     7369  2025-03-05 18:03:20
994  1i2qxn8     7134  2025-01-16 16:06:39
995  1hh11ct     7128  2024-12-18 13:59:23

                                               dadjoke  contains_link
0    BREAKING: Iran has struck its own submarine wi...          False
1    My offspring came out as transgender last nigh...          False
2    If you can't say it to your 5 yr old kid, its ...          False
3    Today, my son asked "Can I have a book mark?" ...          False
4    An Afghan, an Albanian, an Algerian, an Americ...          False
..                                                 ...            ...
991  I was gutted this afternoon when my wife told ...          False
992  My son said to me "Dad, today I watched someon...          False
993  The nurse at the sperm bank asked me if I'd li...          False
994  My wife calls me her sex machine all the time....          False
995  My wife texted me this morning and said, “Your...          False

[948 rows x 5 columns]

In [15]:
inappropriate_words = ['removed', 'deleted', 'sex', 'dick', 'penis', 'fuck', 'ass', 'vagina', 'butt']

# regex pattern that matches any of these words as whole words (case-insensitive)
pattern = r'\b(?:' + '|'.join(inappropriate_words) + r')\b'

# a new column that is True if the summary contains any inappropriate words
df_merged['contains_inappropriate'] = df_merged['dadjoke'].str.contains(pattern, flags=re.IGNORECASE, na=False)

# Print the rows where inappropriate words were found
print(len(df_merged[df_merged['contains_inappropriate']]))
print(df_merged[df_merged['contains_inappropriate']])

42
          id  upvotes                 date  \
9     76idqz    38364  2017-10-15 13:06:16
20    l1czgc    32047  2021-01-20 17:49:52
22    bb5fkc    31065  2019-04-09 10:29:18
30    9q8w4k    28095  2018-10-22 02:54:12
39    iiewjg    26122  2020-08-28 22:31:48
71    jex4tc    21766  2020-10-20 21:49:08
79    b0kq83    20782  2019-03-13 12:09:23
101   soksuk    19645  2022-02-09 19:48:21
110   cgc36n    19295  2019-07-22 13:36:49
111   zfc0gw    19243  2022-12-07 21:04:00
115   lec5dd    19043  2021-02-07 02:31:00
141   hl7khp    17986  2020-07-04 19:56:38
176   8bgeb5    17049  2018-04-11 13:42:33
180   bge21b    16991  2019-04-23 10:48:11
212   k1ea2r    16390  2020-11-26 13:17:32
214   kiwxmi    16306  2020-12-23 18:11:41
218   jkyl7z    16272  2020-10-30 16:13:26
247   hb5ya1    15823  2020-06-18 04:35:00
291   omg7b1    14913  2021-07-18 02:36:56
292   iuyy04    14883  2020-09-18 05:54:42
385   epvwwx    13847  2020-01-17 06:16:19
395   ij31lz    13743  2020-08-30 02:00:48
403   9b8a84    13701  2018-08-29 13:04:56
413   ksh8d9    13569  2021-01-07 17:51:28
436   wk9slu    13384  2022-08-09 19:50:11
451   ko45ew    13246  2021-01-01 04:27:36
487  1j4rs5x    12990  2025-03-06 10:32:51
522   hrz5xr    12747  2020-07-16 01:59:14
611   8s8m0t    12165  2018-06-19 14:51:40
653   t4ad5z    11873  2022-03-01 16:23:55
657   hz0flt    11853  2020-07-27 22:42:13
679   qavs2a    11713  2021-10-18 22:53:48
776   9h4dwb    11251  2018-09-19 13:38:03
795   e973ze    11150  2019-12-11 14:29:11
799   q3lory    11137  2021-10-08 01:45:25
849   czdl2l    10908  2019-09-04 02:46:33
888   c80dmn    10772  2019-07-01 23:24:57
904   f2l54j    10716  2020-02-12 05:00:48
910   wz7rvp    10692  2022-08-27 19:00:01
956   gqnti2    10492  2020-05-26 03:40:15
989  1fuqa2p     8882  2024-10-02 22:32:29
994  1i2qxn8     7134  2025-01-16 16:06:39

                                               dadjoke  contains_link  \
9    My wife just gave birth today and after thanki...          False
20   In honor of former president Donald J. Trump [...          False
22   I was reading the history of the French Revolu...          False
30   I have a simple standard for dadjoke quality: ...          False
39   If having sex for money makes you a whore, hav...          False
71   Can one of the Mods please explain to me why m...          False
79   My therapist says that I second guess every de...          False
101                  My favorite type of bra [removed]          False
110  I did it! I told a dad joke that my wife AND p...          False
111  Said something to my doctor performing my vase...          False
115  My wife called me a sex machine Well, her exac...          False
141  Why was my post removed? Can someone tell me w...          False
176  Do you think anyone has ever slapped Dwayne Jo...          False
180  I saw my dwarf neighbor at a bus stop "Jump in...          False
212  My father was born as a conjoined twin, but th...          False
214  Why do ducks have feathers? To cover up their ...          False
218  [NSFW] Why has Alabama man had sex with clock ...          False
247  My cousin posted two jokes on this sub, but th...          False
291  My wife asked me if I experimented with sex an...          False
292    Circumcised people get their foreskin [removed]          False
385  My wife asked me whether I experimented with s...          False
395  My wife asked me "Is having a penis fun?" I sa...          False
403  I just had a near sex experience. My wife flas...          False
413    Sex in an elevator is wrong. On so many levels.          False
436  I have decided to make a subreddit for people ...          False
451  Having sex on a regular basis helps keep memor...          False
487  I just had sex with a blind woman. She said I'...          False
522  Does anyone know if doctors could take some of...          False
611  Doctor: Your brain seems to have deleted all i...          False
653  My daughter became the dad. She walks by in ''...          False
657  I have been reading some history on the French...          False
679  After my wife gave birth, I asked the doctor h...          False
776  My mailman got a sex change. I guess you'd cal...          False
795  Many French guillotine victims had their heads...          False
799  Just got laid off at work (NOT A JOKE) Please ...          False
849  [NSFW] I once had sex with a blind girl and sh...          False
888  There’s big penises and there’s small penises,...          False
904  How much sex does a person who likes both men ...          False
910  By legalizing Cannabis and same-sex marriage w...          False
956  FINALY, my clock-fetish sex tape arrived in th...          False
989  I walked in on my girlfriend having sex with h...          False
994  My wife calls me her sex machine all the time....          False

     contains_inappropriate
9                      True
20                     True
22                     True
30                     True
39                     True
71                     True
79                     True
101                    True
110                    True
111                    True
115                    True
141                    True
176                    True
180                    True
212                    True
214                    True
218                    True
247                    True
291                    True
292                    True
385                    True
395                    True
403                    True
413                    True
436                    True
451                    True
487                    True
522                    True
611                    True
653                    True
657                    True
679                    True
776                    True
795                    True
799                    True
849                    True
888                    True
904                    True
910                    True
956                    True
989                    True
994                    True

C:\Users\Vanuhi\AppData\Local\Temp\ipykernel_33668\327986457.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['contains_inappropriate'] = df_merged['dadjoke'].str.contains(pattern, flags=re.IGNORECASE, na=False)

In [16]:
# drop all dadjokes containing inappropriate words and removed, deleted
df_merged = df_merged[df_merged['contains_inappropriate'] == False]
print(df_merged)

          id  upvotes                 date  \
0     ep8ed0    86878  2020-01-15 22:02:55
1     v2d37y    56956  2022-06-01 11:38:36
2     ouy3jh    51639  2021-07-31 03:22:17
3     9zyjbd    48977  2018-11-24 14:43:21
4     uzkegu    48006  2022-05-28 12:15:12
..       ...      ...                  ...
990  1iis8eq     8679  2025-02-06 03:40:14
991  1f8btzc     8107  2024-09-03 23:26:11
992  1imgl58     7670  2025-02-10 21:45:37
993  1j47w6r     7369  2025-03-05 18:03:20
995  1hh11ct     7128  2024-12-18 13:59:23

                                               dadjoke  contains_link  \
0    BREAKING: Iran has struck its own submarine wi...          False
1    My offspring came out as transgender last nigh...          False
2    If you can't say it to your 5 yr old kid, its ...          False
3    Today, my son asked "Can I have a book mark?" ...          False
4    An Afghan, an Albanian, an Algerian, an Americ...          False
..                                                 ...            ...
990  So Elon Musk is getting offended that people a...          False
991  I was gutted this afternoon when my wife told ...          False
992  My son said to me "Dad, today I watched someon...          False
993  The nurse at the sperm bank asked me if I'd li...          False
995  My wife texted me this morning and said, “Your...          False

     contains_inappropriate
0                     False
1                     False
2                     False
3                     False
4                     False
..                      ...
990                   False
991                   False
992                   False
993                   False
995                   False

[906 rows x 6 columns]

In [17]:
df_clean = df_merged[['upvotes','dadjoke']]

In [18]:
# Save the DataFrame as csv
output_path = os.path.join("data", "cleaned_dadjokes.csv")
df_clean.to_csv(output_path, index=False)